    .intro{
      text-align: center;
      color: #ba0000;
      font-family: Averia Sans Libre, sans-serif;
      font-size: 20pt;
    }

    .mentions{
      text-align: center;
      color: #7a7e80;
      font-family: Averia Sans Libre, sans-serif;
      font-size: 12pt;
    }

    .center-element{
      margin:auto;
      display: block;
      width: 50%;
    }

    hr{
      color: grey;
    }

    a{
      color: #ba0000;
      text-decoration: none;
    }

    body{
        width: 100%;
        height: 100%;
        color: #282c32;
        background: linear-gradient(180deg, #282c32, black);
    }

    img{
        width:100%;
    }
    #header{
        text-align: center;
        font-size: 50pt;
        color: #ba0000;
        font-family: Barrio, sans-serif;
    }
    h2{
      text-align: center;
      color: #7a7e80;
      font-size: 20pt;
      font-family: Averia Sans Libre, sans-serif;
    }

      h4{
        text-align: center;
        color: #ba0000;
        font-size: 30pt;
        font-family: Averia Sans Libre, sans-serif;
    }
    ol{
      color: #aaacad;
      font-family: verdana, sans-serif;
      font-size: 12pt
    }
    h3{
      color: #7a7e80;
      font-family: Averia Sans Libre, sans-serif;
      text-align: center;
    }
    p{
      color: #aaacad;
      font-family: verdana, sans-serif;
    }
    #more{
      display: none;
    }

    #more2{
      display: none;
    }

    #more3{
      display: none;
    }

    #more4{
      display: none;
    }

    #more5{
      display: none;
    }

    #more6{
      display: none;
    }

    #more7{
      display: none;
    }

    #more8{
      display: none;
    }


    #more9{
      display: none;
    }

    #more10{
      display: none;
    }

    #more11{
      display: none;
    }

    #more12{
      display: none;
    }

    .btn {
      background-color: #ba0000;
      border: none;
      color: white;
      padding: 8px 14px;
      font-family: verdana, sans-serif;
      text-align: center;
      font-size: 16px;
      margin: 4px 2px;
      opacity: 0.4;
      transition: 0.9s;
      border-radius: 12px;
    }

    .btn:hover {
        opacity: 1
    }

    .box{
      position: relative;
      opacity: 0.7;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: calc(995px / 5);
      height: 173px;
      background: url(spriteform.png);
      animation: animate .8s steps(5) infinite;
      }
      @keyframes animate
      {
        from
        {
          background-position: 0;
        }
        to
        {
          background-position: 995px;
        }
