
    p, h1, h2 {

    border: purple 3px solid;

    }


    a{

    border: red 2px solid;

    }

    ol{

    padding: 2%;

    margin: auto;

    border: white 1px solid;

    width: 80%;

    }


    li{

    border-bottom: white 2px solid;

    padding: 5px;

    width: 90%;

    margin: auto;

    }


    img{

    border: lightpink 2px solid;

    background: white;

    margin: 10px auto;

    padding: 2%;

    }


    a{
      color: #ba0000;
    }

    body{
        background-color: #282c32;
    }

    img{
        width:100%;
    }
    #header{
        text-align: center;
        font-size: 50pt;
        color: #ba0000;
        font-family: Barrio, sans-serif;
    }
    h2{
      text-align: center;
      color: #7a7e80;
      font-family: Averia Sans Libre, sans-serif;
    }
    ol{
      color: #aaacad;
      font-family: verdana, sans-serif;
    }
    h3{
      color: #ba0000;
      font-family: Averia Sans Libre, sans-serif;
    }
    p{
      color: #aaacad;
      font-family: verdana, sans-serif;
    }
    #more{
      display: none;
    }
    .btn {
      background-color: #ba0000;
      border: none;
      color: white;
      padding: 8px 14px;
      font-family: verdana, sans-serif;
      text-align: center;
      font-size: 16px;
      margin: 4px 2px;
      opacity: 0.4;
      transition: 0.9s;
      border-radius: 12px;
    }

    .btn:hover {
        opacity: 1
    }
